<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User TodoList</title>
    <style>
        .user{
            display: flex;
            justify-content: center;
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>
    <div>
        <!-- <h1 class="user">User Data</h1> -->
        <!-- <h2><%=user.firstName %></h2>
        <h2><%=user.lastName %></h2>
        <h2><%=user.email %></h2>
        <h2><%=user.mobileNo %></h2>
        <h2><%=user.Address.line1 %></h2>
        <h2><%=user.Address.line2 %></h2> -->
        <h1>Registration User</h1>
          
    </div>
</body>
</html>